<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ma position</title>
    <link
      rel="icon"
      href="https://openweathermap.org/img/wn/10d@2x.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <script>
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(redirectPosition, showError);
      } else {
        sendMessage("La géolocalisation n'est pas supportée.");
      }

      function redirectPosition(position) {
        window.location.replace(
          `/meteo?lat=${position.coords.latitude}&lng=${position.coords.longitude}`
        );
      }

      function showError(error) {
        switch (error.code) {
          case error.PERMISSION_DENIED:
            sendMessage("L'utilisateur a refusé l'accès à la géolocalisation.");
            break;
          case error.POSITION_UNAVAILABLE:
            sendMessage("L'information de localisation n'est pas accessibleé");
            break;
          case error.TIMEOUT:
            sendMessage(
              "La requête pour obtenir la localisation de l'utilisateur a expiré."
            );
            break;
          case error.UNKNOWN_ERROR:
            sendMessage("Une erreur est survenue lors de la géolocalisation.");
            break;
        }
      }
      function sendMessage(msg) {
        const msgDiv = document.createElement("div");
        msgDiv.innerText = msg;
        document.body.appendChild(msgDiv);
      }
    </script>
  </body>
</html>
